<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Traffic</title>

    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  
  <body ng-controller="display">
    <div id="main">
      <canvas id="display"></canvas>
    </div>
    <div id="debug">
      Show grid lines <input type="checkbox" ng-model="settings.showGrid"><br>
      Grid snapping <input type="checkbox" ng-model="settings.gridSnap"><br>
      Show routing <input type="checkbox" ng-model="settings.showRouting"><br>
      Show vehicle waypoints <input type="checkbox" ng-model="settings.showWaypoints"><br>
      Show vehicle corners <input type="checkbox" ng-model="settings.showVehCorners"><br>
      <button ng-click="roads=[]">Clear roads</button><br>
      Number of lanes <input type="text" ng-model="settings.numLanes">
      <br><br>
      Tool type: {{tool.type}}<br>
      <button ng-click="tool.type='road'">Road</button><br>
      <button ng-click="tool.type='vehicleSource'">Vehicle source</button>
      Vehicle generation interval: <input type="number" ng-model="settings.vehTime"><br>
      <button ng-click="tool.type='vehicleSink'">Vehicle sink</button><br>
      <button ng-click="tool.type='intersection'">Intersection</button>
      Is traffic light? <input type="checkbox" ng-model="settings.intIsTrafficLight"><br>
      <button ng-click="tool.type='intersection4_1'">Intersection 4_1</button><br>
      Intersection node radius: <input type="number" ng-model="settings.intRad"><br>
      Intersection node spacing: <input type="number" ng-model="settings.intSpac"><br>
      <button ng-click="tool.type='inspect'">Inspect</button><br>
      <button ng-click="tool.type='light'">Change lights</button><br>
      <br>
      <button ng-click="save()">Save</button>
      <button ng-click="load()">Load</button>
      <br>{{ncars}}
    </div>
    <script>require('angular')</script>
    <script>require('./js/index.js')</script>
  </body>
</html>
  